<template>
<div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center">

          </p>
          <app-ValidationErrors
          v-if='isValidationErrors'
          :validationErrors = "isValidationErrors" />
          <form @submit.prevent="onSubmit">
            <fieldset class="form-group">
              <input v-model="user"
                class="form-control form-control-lg"
                type="text"
                placeholder="Username"
              />
            </fieldset>
            <fieldset class="form-group">
              <input v-model="email"
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input v-model="password"
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
              />
            </fieldset>
            <button type="submit"
            @click='onSubmit'
            :disabled='isSubmiting'
            class="btn btn-lg btn-primary pull-xs-right">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import appValidationErrors from '@/components/ValidationErrors'
import { actionTypes } from "@/store/modules/auth";
import {mapState} from 'vuex';
import HomeVue from './Home.vue'

export default {
  name: 'app-Register',
  components: {
    appValidationErrors
  },
data () {
  return {
  email: '',
  user: '',
  password: ''
  }
},
computed: {
    ...mapState({
    isSubmiting: state => state.auth.isSubmiting,
    isValidationErrors: state => state.auth.isValidationErrors
  })
},
  methods: {
    onSubmit() {
      this.$store.dispatch(actionTypes.register,
      {email: this.email,
       username: this.user,
       password: this.password})
       .then((user) => {
         console.log('succesfulle register user', user)
         this.$router.push({name: 'home'})
       })
    }
  }
}
</script>

<style>

</style>
