<template>
  <div>
    <ul>
      <li v-for="errorMessage in errorMessages" :key="errorMessage">
        {{ errorMessage }}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'appValidationErrors',
    props: {
    validationErrors: {
      type: Object,
      required: true
    }
  },
  computed: {
    errorMessages() {
      return Object.keys(this.validationErrors).map(name => {
        const messages = this.validationErrors[name].join(', ')

        return `${name} ${messages}`
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
